.sign-up-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}
.sign-up-modal {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 200;
  position: fixed;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  backdrop-filter: blur(4px);
  justify-content: center;
}
.sign-up-practices {
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  box-shadow: 0px 0px 25px -2px rgba(66, 68, 90, 0.4);
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.sign-up-heading {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.sign-up-header {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.sign-up-close {
  width: 24px;
  cursor: pointer;
  height: 24px;
  transition: 0.3s;
}
.sign-up-close:hover {
  opacity: 0.5;
}
.sign-up-grid {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: grid;
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
}
.sign-up-section {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.sign-up-heading1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-header1 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.sign-up-caption {
  max-width: 385px;
  line-height: 24px;
}
.sign-up-text {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.sign-up-image {
  width: 12px;
  object-fit: cover;
}
.sign-up-section1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.sign-up-heading2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-header2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.sign-up-caption1 {
  max-width: 385px;
  line-height: 24px;
}
.sign-up-text01 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.sign-up-image1 {
  width: 12px;
  object-fit: cover;
}
.sign-up-section2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.sign-up-heading3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-header3 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.sign-up-caption2 {
  max-width: 385px;
  line-height: 24px;
}
.sign-up-text02 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.sign-up-image2 {
  width: 12px;
  object-fit: cover;
}
.sign-up-section3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.sign-up-heading4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-header4 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.sign-up-caption3 {
  max-width: 385px;
  line-height: 24px;
}
.sign-up-text03 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.sign-up-image3 {
  width: 12px;
  object-fit: cover;
}
.sign-up-section4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.sign-up-heading5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-header5 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.sign-up-caption4 {
  max-width: 385px;
  line-height: 24px;
}
.sign-up-text04 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.sign-up-image4 {
  width: 12px;
  object-fit: cover;
}
.sign-up-section5 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.sign-up-heading6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-header6 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.sign-up-caption5 {
  max-width: 385px;
  line-height: 24px;
}
.sign-up-text05 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.sign-up-image5 {
  width: 12px;
  object-fit: cover;
}
.sign-up-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.sign-up-navbar {
  width: 1154px;
  height: 155px;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.sign-up-left {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up-logo {
  width: 165px;
  object-fit: cover;
}
.sign-up-links {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up-link {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.sign-up-link:hover {
  opacity: 0.5;
}
.sign-up-link1 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
}
.sign-up-link1:hover {
  opacity: 0.5;
}
.sign-up-link2 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.sign-up-link2:hover {
  opacity: 0.5;
}
.sign-up-right {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.sign-up-container1 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.sign-up-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.sign-up-icon1 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.sign-up-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.sign-up-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.sign-up-image6 {
  height: 2rem;
}
.sign-up-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up-icon3 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.sign-up-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.sign-up-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.sign-up-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.sign-up-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.sign-up-book {
  text-decoration: none;
}
.sign-up-image7 {
  width: 18px;
  object-fit: cover;
}
.sign-up-text10 {
  font-family: Inter;
}
.sign-up-main {
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: stretch;
  padding-left: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: space-between;
}
.sign-up-content {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.sign-up-heading7 {
  gap: var(--dl-space-space-unit);
  width: 476px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.sign-up-header7 {
  width: 551px;
  height: 559px;
  font-size: 50px;
  max-width: 750px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
  padding-right: 68px;
}
.sign-up-container3 {
  width: 523px;
  height: 654px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.sign-up-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.sign-up-container4 {
  width: 100%;
  height: 59px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-up-container5 {
  width: 100%;
  height: 146px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-up-textinput {
  width: 484px;
  height: 48px;
  text-align: center;
  transition: 0.3s;
  font-family: Noto Sans;
  border-color: rgba(180, 185, 185, 0.45);
  border-style: ridge;
  border-width: 0px;
  border-bottom-width: 2px;
}

.sign-up-container6 {
  width: 100%;
  height: 149px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.sign-up-textinput1 {
  width: 482px;
  height: 48px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Noto Sans;
  border-color: rgba(180, 185, 185, 0.45);
  border-style: ridge;
  border-width: 0px;
  border-bottom-width: 2px;
}

.sign-up-container7 {
  width: 100%;
  height: 155px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-up-textinput2 {
  width: 476px;
  height: 44px;
  text-align: center;
  border-color: rgba(180, 185, 185, 0.45);
  border-style: ridge;
  border-width: 0px;
  border-bottom-width: 2px;
}
.sign-up-features {
  width: 100%;
  height: 191px;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: #2461FF;
}
.sign-up-content1 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.sign-up-background {
  right: 0px;
  width: 526px;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(208, 244, 253, 0);
}
.sign-up-download {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.sign-up-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #000000;
}
.sign-up-left1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.sign-up-brand {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-image8 {
  width: 245px;
  height: 201px;
  object-fit: cover;
}
.sign-up-legal {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.sign-up-text15 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 21px;
}
.sign-up-legal1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: row;
}
.sign-up-row {
  display: flex;
}
.sign-up-copyright2 {
  color: rgb(255, 255, 255);
  font-size: 12px;
}
@media(max-width: 991px) {
  .sign-up-hero {
    flex: 1;
    height: 0px;
  }
  .sign-up-navbar {
    z-index: 1000;
  }
  .sign-up-links {
    display: none;
  }
  .sign-up-right {
    display: none;
  }
  .sign-up-burger-menu {
    display: flex;
    padding: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-round);
    background-color: #2461FF;
  }
  .sign-up-icon1 {
    fill: white;
  }
  .sign-up-main {
    flex-direction: column;
  }
  .sign-up-content {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .sign-up-header7 {
    max-width: 75%;
  }
  .sign-up-features {
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .sign-up-content1 {
    flex-direction: column;
  }
  .sign-up-background {
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 55%;
    position: absolute;
    justify-content: flex-end;
  }
  .sign-up-footer {
    gap: 100px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .sign-up-left1 {
    padding-right: 0px;
  }
  .sign-up-legal {
    display: none;
  }
  .sign-up-legal1 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    flex-direction: column;
  }
  .sign-up-row {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .sign-up-navbar {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .sign-up-burger-menu {
    display: flex;
  }
  .sign-up-main {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-end;
    padding-left: var(--dl-space-space-oneandhalfunits);
    justify-content: center;
  }
  .sign-up-header7 {
    font-size: 32px;
    max-width: 70%;
    line-height: 38px;
  }
  .sign-up-content1 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .sign-up-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .sign-up-image8 {
    width: 110px;
  }
  .sign-up-text15 {
    font-size: 12px;
    line-height: 18px;
  }
}
@media(max-width: 479px) {
  .sign-up-navbar {
    padding: var(--dl-space-space-unit);
  }
  .sign-up-mobile-menu {
    padding: 16px;
  }
  .sign-up-content {
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .sign-up-header7 {
    max-width: 80%;
  }
}
